{% extends 'student/studentbase.html' %}

{%load static%}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">  
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <br>
         What question do you have to answer for your paper?
    
        </br>

        <br>
        {% for x in completed_form_ques %}

       <form method='post'>
        {% csrf_token %}
            Question Here: <textarea type="text" name="question" maxlength="100" required id="id_question" placeholder="{{x.question}}" ></textarea>
            <button type="submit">Submit</button>
       </form>
       {%endfor %}
      *Click next if you already did this step; you can't submit this twice.
      <a class="btn btn-primary" href="{% url 'to-claim' %}" role="button">Next</a>

    </br>


</body>
</html> {% endblock %}